body {
    font-size: 14px;
}

form {
    max-width: 80vw;
    max-height: 80vh;
}

button, label {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img.thumbnail {
    width: 20px;
    height: 20px;
}

textarea {
    height: 10em;
    width: 100%;
}

@media screen and (min-width: 600px)
{
    .grid-container {
        display:grid;
        grid-template-columns: 10vw 40vw 15vw;
        grid-gap: 5px;
    }

    .column1 {
        grid-column: 1 / 2;
    }
    
    .column2 {
        grid-column: 2 / 3;
    }
    
    .column3 {
        grid-column: 3 / 4;
    }
}

@media screen and (max-width: 600px)
{
    .grid-container {
        display:grid;
        grid-template-columns: 35vw 55vw;
        grid-gap: 5px;
    }

    .column1 {
        grid-column: 1 / 2;
    }
    
    .column2 {
        grid-column: 2 / 3;
    }
    
    .column3 {
        grid-column: 1 / 3;
    }

    #submitbutton {
        grid-column: 1 / span 2;
    }
}

modal {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;

        overflow: auto;
        background-color: black;
        background-color: rgba(0,0,0,0.4);
        text-align: center;
}

modal>ul {
    padding: 10px;
    list-style: none;
    text-align: left;
    margin: 2vh auto 2vh auto;
    max-height: 80vh;
    max-width: 70vw;
    overflow: auto;
    display: inline-block;
    background-color: white;
    border: red 2px solid;
    -webkit-overflow-scrolling: touch;
}

modal li {
    vertical-align: middle;
    overflow:hidden;    
    text-overflow: ellipsis;
    -webkit-overflow-scrolling: touch;
}
modal li:hover {
    background-color: lightgrey;
}

